body{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
}
p{
    color-scheme:rgb(213, 213, 235);}

main{
    display: flex;
    flex-direction:row;
    flex:auto;
}
article{
    flex:2;
    overflow-y: auto;
}
aside{
    flex:1;
    overflow-y: auto;
}


